.BannerAds {
  margin-top: 16px;
  text-align: center;
}
.BannerAds a {
  padding: 5px;
  border: 1px solid #bcbdc1;
  width: 100%;
  display: block;
}
.BannerAds .banner1 {
  padding-left: 0;
  border: 1px solid #00aeef;
  height: 400px;
  display: table;
}
.BannerAds .banner2 {
  padding: 0 0px;
  border: 1px solid #00aeef;
  height: 400px;
  display: table;
  border-left: none;
  border-right: none;
}
.BannerAds .banner3 {
  padding-right: 0;
  border: 1px solid #00aeef;
  height: 400px;
  display: table;
}
.BannerAds .info {
  display: table-cell;
  vertical-align: middle;
  padding: 0 24px;
}
.BannerAds .info .sty1 {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 24px;
  height: 28px;
  overflow: hidden;
  display: block;
}
.BannerAds .info .sty2 {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  heightc: 60px;
  overflow: hidden;
  display: block;
}
.BannerAds .icon1 {
  height: 68px;
  width: 68px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/icon_home1.png);
  background-image: -webkit-image-set(url(../images/icon_home1.png) 1x, url(../images/icon_home1@2x.png) 2x, url(../images/icon_home1@3x.png) 3x);
}
.BannerAds .icon2 {
  height: 68px;
  width: 68px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/icon_home2.png);
  background-image: -webkit-image-set(url(../images/icon_home2.png) 1x, url(../images/icon_home2@2x.png) 2x, url(../images/icon_home2@3x.png) 3x);
}
.BannerAds .icon3 {
  height: 68px;
  width: 68px;
  display: block;
  margin: 0 auto;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/icon_home3.png);
  background-image: -webkit-image-set(url(../images/icon_home3.png) 1x, url(../images/icon_home3@2x.png) 2x, url(../images/icon_home3@3x.png) 3x);
}
.top_body {
  height: 914px;
  background: url(../images/deco_home.png) no-repeat;
  padding-top: 220px;
}
.top_body .content {
  margin-top: 128px;
}
.top_body p.sty1 {
  color: #00aeef;
  font-size: 18px;
  margin-bottom: 16px;
}
.top_body p.sty2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 36px;
  margin-bottom: 16px;
}
.top_body p.sty3 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
  margin-bottom: 16px;
}
.TopSP {
  margin-top: 56px;
  background: url(../images/bg_topsp.png) right top no-repeat;
  background-color: #edf4f9;
}
.TopSP .item {
  width: 300px;
  border: 15px solid #cccccc;
}
.sec_content {
  margin-bottom: 32px;
}
.sec_content .icon_pm_1 {
  background-repeat: no-repeat;
  background-image: url(../images/icon_pm_1.png);
  background-image: -webkit-image-set(url(../images/icon_pm_1.png) 1x, url(../images/icon_pm_1@2x.png) 2x, url(../images/icon_pm_1@3x.png) 3x);
  width: 38px;
  height: 38px;
  display: block;
  margin-bottom: 24px;
}
.sec_content .icon_pm_2 {
  background-repeat: no-repeat;
  background-image: url(../images/icon_pm_2.png);
  background-image: -webkit-image-set(url(../images/icon_pm_2.png) 1x, url(../images/icon_pm_2@2x.png) 2x, url(../images/icon_pm_2@3x.png) 3x);
  width: 38px;
  height: 38px;
  display: block;
  margin-bottom: 24px;
}
.sec_content .icon_pm_3 {
  background-repeat: no-repeat;
  background-image: url(../images/icon_pm_3.png);
  background-image: -webkit-image-set(url(../images/icon_pm_3.png) 1x, url(../images/icon_pm_3@2x.png) 2x, url(../images/icon_pm_3@3x.png) 3x);
  width: 38px;
  height: 38px;
  display: block;
  margin-bottom: 24px;
}
.sec_content .icon_ql_1 {
  background-repeat: no-repeat;
  background-image: url(../images/icon_ql_1.png);
  background-image: -webkit-image-set(url(../images/icon_ql_1.png) 1x, url(../images/icon_ql_1@2x.png) 2x, url(../images/icon_ql_1@3x.png) 3x);
  width: 38px;
  height: 38px;
  display: block;
  margin-bottom: 24px;
}
.sec_content .icon_ql_2 {
  width: 38px;
  height: 38px;
  display: block;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/icon_ql_2.png);
  background-image: -webkit-image-set(url(../images/icon_ql_2.png) 1x, url(../images/icon_ql_2@2x.png) 2x, url(../images/icon_ql_2@3x.png) 3x);
}
.sec_content .icon_ql_3 {
  width: 38px;
  height: 38px;
  display: block;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-image: url(../images/icon_ql_3.png);
  background-image: -webkit-image-set(url(../images/icon_ql_3.png) 1x, url(../images/icon_ql_3@2x.png) 2x, url(../images/icon_ql_3@3x.png) 3x);
}
.sec_content .sty1 {
  color: #00aeef;
  font-size: 18px;
}
.sec_content .sty2 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}
.TopSP_right {
  margin-top: 0;
  background: url(../images/bg_topsp_left.png) left top no-repeat;
}
.TopSP_right .sec_content {
  text-align: right;
}
.TopSP_right .icon_ql_1,
.TopSP_right .icon_ql_2,
.TopSP_right .icon_ql_3 {
  display: inline-block;
  text-align: right;
}
.TopSP_center {
  margin-top: 0;
  background-color: #f5f9fe;
  background-image: none;
}
.Tintuc {
  margin-top: 96px;
}
.Tintuc hr {
  width: 143px;
  border-color: #00aeef;
  margin: 0 auto;
  display: block;
  margin-bottom: 32px;
}
.Tintuc .btn {
  padding-left: 32px;
  padding-right: 32px;
  color: #00aeef;
  border-color: #00aeef;
  margin-top: 24px;
}
.Khachhang {
  margin-top: 72px;
}
.danhgia {
  padding-top: 140px;
  background: url(../images/bg_comment.png) right top no-repeat;
}
.danhgia .comment {
  width: 70%;
  color: #00aeef;
  font-style: italic;
  font-size: 30px;
}
.info_customer {
  width: auto;
  margin-top: 24px;
}
.info_customer .table-cell {
  vertical-align: middle;
}
.info_customer .avatar {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  display: block;
  overflow: hidden;
  border: 1px solid #00aeef;
  margin-right: 16px;
}
.info_customer .title {
  margin-bottom: 0;
}
.info_customer .name {
  font-size: 18px;
}
.tintuc_index {
  padding-bottom: 32px;
  display: inline-block;
}
.tintuc_index .div_img {
  height: 243px;
}
.tintuc_index:hover {
  text-decoration: none;
}
.tintuc_index h5 {
  font-size: 18px;
  font-weight: bold;
  color: #00aeef;
  margin-top: 0px;
  margin-bottom: 16px;
  overflow: hidden;
  max-height: 56px;
}
.tintuc_index i {
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 16px;
  display: block;
  margin-top: 24px;
  font-size: 18px;
}
.tintuc_index p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  max-height: 75px;
  overflow: hidden;
  margin-bottom: 4px;
}
.tintuc_index .more {
  text-decoration: underline;
}
.NewSP {
  margin-top: 48px;
  padding-top: 64px;
  position: relative;
}
.NewSP .group_item {
  padding-bottom: 16px;
}
.NewSP .item {
  border: 1px solid #cccccc;
  display: block;
}
.comment_SP {
  background-color: #e8e9e9;
  padding-top: 64px;
  position: relative;
}
.TintucSP:after {
  background: url(../images/home_03.png) left top no-repeat;
  content: "";
  height: 726px;
  width: 438px;
  position: absolute;
  top: -420px;
  left: 0;
  display: block;
}
.TintucSP {
  margin-top: 48px;
  position: relative;
}
.TintucSP .group_item {
  margin-top: 32px;
}
.swiper-pagination-comment {
  bottom: -16px !important;
}
.tintuc_item a img {
  border: 1px solid #ccc;
}
.tintuc_item a:hover {
  text-decoration: none !important;
}
.tintuc_item .title {
  display: block;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-weight: bold;
  height: 40px;
  overflow: hidden;
}
.tintuc_item .author {
  display: block;
  color: #666;
  margin-bottom: 4px;
}
.tintuc_item .content {
  display: block;
  color: #000;
  font-size: 14px;
  height: 120px;
  overflow: hidden;
}
.top_body.gioithieu {
  height: 914px;
  background: url(../images/gioithieu_01.png) no-repeat;
  padding-top: 220px;
}
.TopSP.gioithieu {
  padding: 128px 0;
}
.TopSP.topSP_left.gioithieu {
  margin-top: 0;
  background: url(../images/bg_topsp_left.png) left top no-repeat;
}
.AboutTeam {
  background: url(../images/bg_about_team.png) center top no-repeat;
}
.AboutTeam .tintuc_index i {
  margin-top: 8px;
  margin-bottom: 4px;
}
.AboutTeam .tintuc_index .div_img {
  height: inherit;
}
@media (max-width: 1400px) {
  .top_body.gioithieu {
    background-size: contain;
    height: 820px;
  }
}
@media (max-width: 1024px) {
  .swiper-button-next-spmoi {
    right: -40px;
    background-size: 100%;
    background-position: center left;
    width: 36px;
  }
  .swiper-button-prev-spmoi {
    left: -40px;
    background-size: 100%;
    background-position: center right;
    width: 36px;
  }
  .BestSP:before {
    background-size: 70%;
    background-position: right;
  }
  .BestSP:after {
    background-size: 70%;
  }
  .TintucSP:after {
    background-size: 60%;
    background-position: center left;
  }
  .DK_SDT .title {
    font-size: 15px;
  }
  .sec_content .sty2 {
    font-size: 16px;
  }
  .Tintuc {
    margin-top: 48px;
  }
  .tintuc_index .div_img {
    height: 180px;
  }
  .tintuc_index i {
    margin-top: 16px;
  }
  .danhgia {
    padding-top: 120px;
  }
  .thongtinlienhe {
    margin-top: 72px;
  }
  .danhgia .comment {
    width: 90%;
  }
  .TopSP.gioithieu {
    padding: 56px 0;
  }
  .AboutTeam {
    padding-top: 48px;
  }
}
@media (max-width: 768px) {
  .TopSP .item {
    width: 100%;
  }
  .tintuc_item {
    margin-bottom: 24px;
  }
  .DK_SDT .title {
    margin-top: 42px;
    text-align: center;
  }
  .DK_SDT .dk {
    width: 80%;
    margin: 16px auto 0 auto;
  }
  .DK_SDT input {
    width: 100%;
  }
  .DK_SDT .btn_send {
    left: auto;
    right: 0;
  }
  .swiper-button-next-spmoi,
  .swiper-button-prev-spmoi {
    display: none;
  }
  .NewSP {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .TintucSP .group_item {
    padding-bottom: 48px;
  }
  .top_body {
    height: 720px;
  }
  .top_body .content {
    margin-top: 32px;
  }
  .top_body p.sty2 {
    font-size: 28px;
  }
  .sec_content {
    margin-bottom: 16px;
  }
  .sec_content .icon_pm_1,
  .sec_content .icon_pm_2,
  .sec_content .icon_pm_3 {
    margin-bottom: 8px;
  }
  .swiperphanmem,
  .swiperquanly {
    margin-top: 32px;
  }
  .tintuc_index .div_img {
    height: 136px;
  }
  .tintuc_index i {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .swiper-button-prev-logo_cty,
  .swiper-button-next-logo_cty {
    display: none;
  }
  .danhgia .comment {
    font-size: 24px;
  }
  .thongtinlienhe {
    margin-top: 48px;
  }
}
@media (max-width: 475px) {
  .BannerAds .banner1,
  .BannerAds .banner2,
  .BannerAds .banner3 {
    padding: 4px 16px;
  }
  .BestSP:after {
    display: none;
  }
  .BestSP:before {
    background-size: 100%;
    height: 279px;
    width: 240px;
    bottom: -87px;
  }
  .TintucSP:after {
    height: 254px;
    width: 250px;
    top: -255px;
  }
  .tintuc_item a img {
    margin-bottom: 16px;
  }
  .DK_SDT .dk {
    width: 100%;
  }
  .TopSP .item {
    margin-bottom: 10px !important;
  }
  .BestSP .group_item .item {
    overflow: hidden;
  }
  .item img {
    width: 280px;
    margin: 16px auto;
    height: 280px;
    display: block;
  }
  .item.big {
    padding-top: 0;
  }
  .BestSP .group_item .item {
    margin-bottom: 15px;
  }
  .item.big {
    margin-bottom: 15px !important;
  }
  .tintuc_item {
    margin-bottom: 32px;
  }
  .DK_SDT .title {
    margin-top: 32px;
  }
  .top_body {
    padding-top: 50px;
    height: 920px;
  }
  .navbar-toggle .icon-bar {
    background-color: #00aeef;
  }
  .navbar-toggle {
    float: left;
  }
  .BannerAds .banner1,
  .BannerAds .banner2,
  .BannerAds .banner3 {
    border: none;
    height: 280px;
  }
  .tintuc_index {
    padding-bottom: 48px;
  }
  .tintuc_index .div_img {
    height: 230px;
  }
  .Khachhang {
    margin-top: 56px;
  }
  .danhgia {
    padding-top: 96px;
  }
  .danhgia .comment {
    width: 100%;
    font-size: 20px;
  }
  .swiper-pagination-comment_cty {
    text-align: center !important;
  }
  .thongtinlienhe {
    margin-top: 24px;
  }
  .thongtinlienhe .btn {
    width: 100%;
  }
  .Tintuc .btn {
    margin-top: 0;
  }
  .top_body.gioithieu {
    height: 350px;
    padding-top: 50px;
    background-position: center;
  }
}
