.shadow-navigation {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.b-shadow-5 {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.source-icon-home {
  background-image: url(../images/icon_home.png);
  background-image: -webkit-image-set(url(../images/icon_home.png) 1x, url(../images/icon_home@2x.png) 2x, url(../images/icon_home@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-home-b {
  background-image: url(../images/Icon_phone_b.png);
  background-image: -webkit-image-set(url(../images/Icon_phone_b.png) 1x, url(../images/Icon_phone_b@2x.png) 2x, url(../images/Icon_phone_b@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-phone {
  background-image: url(../images/Icon_phone.png);
  background-image: -webkit-image-set(url(../images/Icon_phone.png) 1x, url(../images/Icon_phone@2x.png) 2x, url(../images/Icon_phone@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-help {
  background-image: url(../images/help.png);
  background-image: -webkit-image-set(url(../images/help.png) 1x, url(../images/help@2x.png) 2x, url(../images/help@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-balloon {
  background-image: url(../images/balloon.png);
  background-image: -webkit-image-set(url(../images/balloon.png) 1x, url(../images/balloon@2x.png) 2x, url(../images/balloon@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-phone-mem {
  background-image: url(../images/phone_mem.png);
  background-image: -webkit-image-set(url(../images/phone_mem.png) 1x, url(../images/phone_mem@2x.png) 2x, url(../images/phone_mem@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-airplane {
  background-image: url(../images/1954.png);
  background-image: -webkit-image-set(url(../images/1954.png) 1x, url(../images/1954@2x.png) 2x, url(../images/1954@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-line-foxy {
  background-image: url(../images/line_foxy.png);
  background-image: -webkit-image-set(url(../images/line_foxy.png) 1x, url(../images/line_foxy@2x.png) 2x, url(../images/line_foxy@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 100%;
}
.source-icon-location {
  background-image: url(../images/icon_location.png);
  background-image: -webkit-image-set(url(../images/icon_location.png) 1x, url(../images/icon_location@2x.png) 2x, url(../images/icon_location@3x.png) 3x);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center center;
}
.source-bg-iphone {
  background-image: url(../images/Phone_VideoPlayer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.source-bg-confetti {
  background-image: url(../images/confetti.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.source-icon-play {
  background-image: url(../images/icon_play.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.source-icon-pause {
  background-image: url(../images/icon_pause.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
